<ol>
  <li>
    <mat-form-field>
      <input matInput [(ngModel)]="name" placeholder="What's your name?">
    </mat-form-field>
  </li>
  <li>
    <button mat-raised-button (click)="openDialog()">Pick one</button>
  </li>
  <!-- <li>
    <button mat-raised-button (click)="sidenav.toggle()">Toggle</button>
  </li>
  <li>
    <button mat-raised-button (click)="drawer.toggle()">
      Toggle drawer
    </button>
  </li> -->
  <li *ngIf="animal">
    You chose: <i>{{animal}}</i>
  </li>
</ol>

<!-- <mat-sidenav-container autosize>
  <mat-sidenav #sidenav  mode="over" position="end" >Sidenav content</mat-sidenav>
  <mat-sidenav-content>
    Side Nav Main content Here. Main Content Here</mat-sidenav-content>
</mat-sidenav-container>

<mat-drawer-container autosize>
  <mat-drawer #drawer mode="over" position="end">
    Drawer Content
  </mat-drawer>
  <mat-drawer-content>Drawaer Main content Here. Main Content Here</mat-drawer-content>
</mat-drawer-container> -->